<link rel="stylesheet" href="/assets/css/4e.css">

<div class="text-centered">
  <h1>Erneuerbare Energie aus Schwertberg – gemeinsam, fair, regional.</h1>
  <p>
    4E Schwertberg ist eine Erneuerbaren-Energie-Gemeinschaft. Wir bieten regional produzierten Strom zu stabilen,
    fairen Preisen – von Nachbar:innen für Nachbar:innen.
  </p>
</div>
<!-- justify-content-center align-items-center -->

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title"><b>Preise &#38; Vorteile</b></h5>
        <p class="card-text">
          Als EEG bestimmen wir die Preise selbst. Dabei steht die 4E besonders für eine faire und stabile
          Preisgestaltung.
        </p>
      </div>
      <a class="btn btn-primary" href="/preise/">Preise &#38; Vorteile</a>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title"><b>Mitglied werden</b></h5>
        <p class="card-text">
          Werden Sie Mitglied, noch heute. Es ist ganz einfach. Antrag ausfüllen, abschicken und sparen.
        </p>
      </div>
      <a class="btn btn-4egreen" href="/mitglied-werden/">Mitglied werden</a>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title"><b>So funktioniert&#8217;s</b></h5>
        <p class="card-text">
          Beitreten, Viertelstundenwerte aktivieren, Vollmacht erteilen und gemeinschaftlich Strom nutzen.
        </p>
      </div>
      <a class="btn btn-primary" href="/infos/">Information</a>
    </div>
  </div>
</div>

<section>
  <h2>In aller Kürze</h2>
  <ul>
    <li><strong>Was?</strong> Eine regionale Energiegemeinschaft, die Strom aus erneuerbaren Quellen teilt.</li>
    <li>
      <strong>Wer?</strong> Haushalte, Betriebe und Gemeinden in Schwertberg, Mauthause, Ried i. d. Rdmk und Umgebung.
    </li>
    <li><strong>Warum?</strong> Faire, stabile Preise und mehr regionale Wertschöpfung.</li>
    <li><strong>Wie?</strong> Beitreten und gemeinschaftlich Strom nutzen.</li>
  </ul>
</section>
